/* ----- CSS Reset ----- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

/* ----- Global Styles ----- */
h1 {
  margin: 20px;
  text-align: center;
}

a {
  text-decoration: none;
}

div {
  text-align: center;
}

button, button a {
  color: black;
  display: inline-block;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  text-align: left;
}

label {
  width: 80px;
}

input {
  height: 30px;
}

.hide {
  display: none;
}

#profile {
  margin: 10px auto;
  max-width: 400px;
}

h4 {
  font-size: 2em;
  font-weight: lighter;
  margin: 50px auto 10px;
  text-align: left;
}

.section {
  background: rgb(172, 213, 255);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  padding: 20px;
}

p {
  margin-right: 5px;
}




